<div class="container m-4">

  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Name: <strong><%= @restaurant.name %></strong></h5>
      <p class="card-text">Address: <strong><%= @restaurant.address %></strong></p>
      <p class="card-text">Phone: <%= @restaurant.phone_number %></p>
      <p class="card-text">Category: <%= @restaurant.category %></p>
      <p class="card-text">Reviews: </p>

    </div>
  </div>
</div>
